---
title: Print!
---

<article>
	<h1>Getting Down to Business</h1>
	<h2>Print!</h2>
	<p>
		Open a Mac OS X program. Try printing a document. In the print dialogue box, make
		sure <samp>ghostscript</samp> is your chosen printer. Try to
		print. Smile when your “unsupported” printer works for you.
	</p>
	<p>
		Congratulations! You’re done. Feel free to read on for some advanced
		information that may prove helpful.
	</p>
</article>
