---
title: Printing in Classic
---

<article>
	<h1>Some Technical Stuff</h1>
	<h2>Printing Under Classic Running in Mac OS X</h2>
	<p>
		Despite what many users claim, I personally have had no problems printing under the
		Classic environment using the <em>Chooser</em>-based network print driver. The only
		caveat to this is that “Background Printing” must be turned off. For
		long documents, this is a concern, since no other Classic applications are usable
		until the print job is complete. However, OS X native applications can still be
		used during the Classic printing process. This will be less and less of a concern
		as more native applications are made available. And remember, at least Classic is
		able to print to the network.
	</p>
	<p>
		On the other hand, if you are unable to print to your printer from Classic, there
		in nothing in this document that will assist you in doing so. However, you may at
		least be able to get your printer to work natively.
	</p>
</article>
