---
title: Become Root
---
<%= md_links %>
<%= md_images %>

Once you’ve [started the terminal][startterminal], you’ll sometimes want to
become root, or the superuser. The root account is capable of doing anything
on the computer, including destroying important files! Be careful, and use the
power wisely.

There are multiple ways to enable and become root on Mac OS X. We will only
use a single method for use in this documentation:

<ul>
  <li>
    Assume the root account from a regular administrator account
    for the duration of the current Terminal session.
  </li>
</ul>

There are various other ways to become the root user; I suggest checking the
the Apple Discussion Boards or with Google Groups if you should have an
interest in them.

To become root for the purposes of this documentation, ensure that you’ve
logged onto your Macintosh as an Administrator user; your default account is
an Administrator. Then [start a terminal][startterminal]. You should see
something like this:

<figure>
  <%= image_tag 'terminal.jpg', :alt => 'The Terminal Window', :figure => false %>
  <figcaption>Mac OS X Terminal</figcaption>
</figure>

Simply type <kbd>sudo su</kbd>. You’ll be prompted for a password. Enter your
own password. The first time you do this, you’ll receive a message that
essentially tells you to behave. Future <kbd>sudo su</kbd> commands won’t show
this message, and until you logout from your account, you won’t even be
prompted for a password again.
