---
title: Looking at the Error Log (Console)
---
<%= md_links %>
<%= md_images %>

<p>
  You’ll want to look at the system error log from time to time. In Mac OS X,
  this is an application called Console. It can be found here:
</p>

<p><samp>/Applications/Utilities/Console</samp></p>

<p>It will look something like this when you open it:</p>

<figure class="centered">
  <%= image_tag 'console.jpg', :alt => 'The Console Application', :figure => false %>
  <figcaption>Console application showing system log</figcaption>
</figure>
