---
title: Links and References
---

<article>
	<h1>End Notes</h1>

	<h2>Links and References</h2>
	
	<p class="drop-shadow lifted yellow">
		<em>Note:</em> There is no missing content here. In order to help prevent link
		rot due to the outdated nature of this information, all links and references
		have been removed.
	</p>

</article>
