---
title: History
---

<article>
	<h1>End Notes</h1>

	<h2>Document History</h2>

	<dl class="dl18em">
		<dt class="long">23-April-2013 “YA Not a New Release Release.”</dt>
		<dd>
			No content changes. Refactored the entire document display system
			in order to implement a new multipage static controller in CakePHP.
		</dd>

		<dt class="long">22-March-2013 “Another Not a New Release Release.”</dt>
		<dd>
			Some minor work to fit the site redesign.
	   </dd>

		<dt>18-November-2007 “Not a New Release Release.”</dt>
		<dd>
			Transitioned the Guide from the two-generations old website format to the new website format. This chiefly
			consisted of making the pages mostly proper XHTML/CSS. Some various cleanup
			was performed, notes added, and some other non-substantive changes.
		</dd>

		<dt>01-January-2002 Third Release</dt>
		<dd>
			Added some new information, particularly an
			even-easier (and more full-featured) install of GhostScript.Did some
			re-ordering of topics, and added more information.Also, converted from Office
			2001 and Distiller to Office X and the built-in PDF functions (let me know if
			the PDF quality isn’t as good as it should be).
		</dd>

		<dt>29-November-2001 Second Release</dt>
		<dd>
			Added some new information, particularly a
			non-DevTools install of GhostScript. Swayed users capable of doing so towards
			using AppleTalk instead of TCP/IP.
		</dd>

		<dt>19-October-2001 Initial Release</dt>
		<dd>
			Initial release.
		</dd>

	</dl>
</article>
