---
title: Thanks
---
<%= md_links %>
<%= md_images %>

<p>
  Thanks are deserved by and given to everybody who’s helped me get this
  working on Apple’s Support Discussions. In particular, Jason Vetter is the
  first (to my knowledge) who discovered the LPRIOM.plugin got broken by the
  update to Mac OS X 10.1, and to Alex Levine, who’s excellent
  OSX-GS-Print-Filter-Hack (for OS X server) was the basis for most of what you
  see here. And of course, the people who contribute to GhostScript made
  everything possible in the first place.
</p>

<p>
  Thanks to Kristofer Widholm for posting his “Setting up your AXIS 1440 with
  Mac OS X” at http://www.brokenhill.net/webpharmacy/technotes/axis1440setup.php.
  If you’re going to be using an Axis printer server or an Epson printer, it’s
  worth it to check out the work he’s done.
</p>

<p>
  New! Thanks to Chris Roberts at http://www.osxgnu.org for porting the
  AFL-GhostScript 6.50.5 to Mac OS X. Unlike the previous version of GhostScript
  used in this guide, Chris’ port installs via the familiar Mac OS X Installer
  application. Even more exciting is its built-in support for many more printers,
  and high-quality printing via gimp-print.
</p>
