---
title: You Can Help Me and Others!
---
<%= md_links %>
<%= md_images %>

This guide is no longer being developed! The text below is left for posterity.
We won’t be making future updates to this guide.
{: .note .callout}

<h2>You Can Help Me and Others</h2>

<p>
  Please share your successes with me and the world. If you’ve done any of the following,
  please let me know so I can post them. I’d like to get an archive of filters going that
  work for OS X. If you have done any of the following, please let me know if you’ve gotten
  this procedure to work…
</p>

<ul>
  <li>with other models of HP inkjets and laser printers.</li>
  <li>with other brands of printers, especially those “unsupported” by Mac OS X.</li>
  <li>with the built-in serial port on older Macintoshes that have been left hanging to dry by OS X.</li>
  <li>with the USB port, especially on those printers “unsupported” by Mac OS X.</li>
  <li>with any type of advanced filter that allows you to select print options such as duplexing, color/bw, paper type, paper size, and so on.</li>
  <li>with any solutions to the items mentioned in the What to Expect/Limitations section.</li>
  <li>with anything else that you think would be of interest to others.</li>
</ul>
